<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        body {
            background-image: url("https://wallpaperaccess.com/full/316894.jpg");
            background-size: cover;
            color: white;
        }
        @media only screen and (max-width: 600px)
        {
            body{
                background-image: url("https://images.unsplash.com/photo-1553702446-a39d6fbee6cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
                background-size: 900px 900px;
                color: white;
            }
        }
    </style>
</head>

<body>
    <center>
        <h1>Reset Password Admin Page</h1>
        <form action="" method="post">
            <input type="password" name="password" id="" placeholder="Enter New Password">
            <input type="hidden" name="user_id" id="" value="{{user_id}}">
            <br>
            <br>
            <input type="submit" name="" id="" value="Reset Password">
        </form>
    </center>
</body>

</html>