<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@500&display=swap');

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #eee;
            flex-direction: column;
        }

        form {
            background-color: #fff;
            width: 400px;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }

        h1,
        h4 {
            display: flex;
            justify-content: center;
            font-family: ubuntu;
            margin-bottom: 0.5rem;
        }

        input {
            display: block;
            width: 100%;
            margin-bottom: .5rem;
            padding: 0.5rem;
            font-family: poppins;
            outline: none;
            font-size: 1rem;
            border: 1px solid rgb(158, 158, 158);
        }

        label {
            font-family: poppins;
        }

        #forget {
            display: flex;
            justify-content: flex-end;
            margin: 1rem 0;
            font-family: poppins;
            font-size: .8rem;
        }

        input[type=submit] {
            margin-top: 1rem;
            background-color: rgb(79, 79, 232);
            outline: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: rgb(110, 110, 239);
        }

        .links {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            font-family: poppins;
            font-size: .8rem;
        }

        @media screen and (max-width:600px) {
            form {
                width: 100vw;
                height: 100vh;
                padding: auto;
            }

            .register-form {
                width: 100vw;
                height: 100vh;
            }
        }
    </style>
</head>

<body>
    <div class="box">
        <form action="/login" method="post">
            <h4>{{message}}</h4>
            <h1>Login Page</h1>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email Address" required />

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" required />

            <a href="/forget" id="forget">Forget Password</a>
            <input type="submit" value="Login">
            <div class="links">
                <a href="/admin">Sign In as Admin</a>
                <a href="/register" id="signupButton">SignUp</a>
            </div>
        </form>
    </div>
</body>

</html>