<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/827ced4c-062a-4dce-b568-40e8ebe9f87d/d25w0pz-7c81c8c0-17e5-4de3-94b4-e6e7bac5c043.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgyN2NlZDRjLTA2MmEtNGRjZS1iNTY4LTQwZThlYmU5Zjg3ZFwvZDI1dzBwei03YzgxYzhjMC0xN2U1LTRkZTMtOTRiNC1lNmU3YmFjNWMwNDMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-RfwW21PQLE7SiCKLNKNYja2hK8U5AWOR-L9a-XHNDY");
            background-size: cover;
            text-decoration: none;

                {
                    {
                    !-- filter: blur(8px);
                    -webkit-filter: blur(8px);
                    --
                }
            }
        }

        .box {
            border: 1px solid black;
            border-radius: 2%;
            align-items: center;
            margin: 80px;
            max-width: 30%;
            height: 500px;
            background-color: white;

        }

        @media only screen and (max-width: 600px) {
            body {
                background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/827ced4c-062a-4dce-b568-40e8ebe9f87d/d25w0pz-7c81c8c0-17e5-4de3-94b4-e6e7bac5c043.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgyN2NlZDRjLTA2MmEtNGRjZS1iNTY4LTQwZThlYmU5Zjg3ZFwvZDI1dzBwei03YzgxYzhjMC0xN2U1LTRkZTMtOTRiNC1lNmU3YmFjNWMwNDMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-RfwW21PQLE7SiCKLNKNYja2hK8U5AWOR-L9a-XHNDY");
                background-size: 900px 900px;
            }
        }

        input {
                

            width: 300px;
            /* Set the width of the input */
            padding: 10px;
            /* Add some padding for better appearance */
            border: 1px solid #ccc;
            /* Add a border */
            border-top:1px solid white;
            border-right:1px solid white;
            border-left:1px solid white;
            border-radius: 5px;
            /* Rounded corners */
            font-size: 16px;
            /* Adjust the font size */
            color: #333;
            /* Text color */
        }

        

        a {
            text-decoration: none;
            border: 1px solid wheat;
            padding: 14px;
            border-radius: 20px;
            background-color: rgb(22, 114, 205);
            color: white;
            font-weight: 900;
        }

        #forget {
            text-decoration: none;
            border: 1px solid wheat;
            padding: 6px;
            border-radius: 20px;
            background-color: rgb(28, 126, 224);
            color: white;
            font-weight: 900;
        }
    </style>
</head>

<body>
    <h4>{{message}}</h4>


    <center>
        <div class="box">
            <br>
            <h1>Login Page</h1>
            <br>
            <form action="/login" method="post">
                <input type="email" name="email" id="" placeholder="Enter Email" required>
                <br><br>
                <input type="password" name="password" id="" placeholder="Enter password" required>
                <br>
                <br><a href="/forget" style="margin-left:190px;" id="forget">Forget Password</a><br>
                <br>

                <input type="submit" name="" id="login-button" placeholder="" value="Login">
            </form>
            <br>

            {{!-- <br> --}}
            <br>
            <br>
            <a href="/admin">Sign In as Admin</a>
            <br>
            <br>
            <br>
            <a href="/register" id="signupButton">SignUp</a>
        </div>
    </center>
</body>

</html>