<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@500&display=swap');

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {

            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
            background-color: #eee;
        }

        form {
            background-color: #fff;
            width: 400px;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }

        h2,
        h5 {
            font-family: ubuntu;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }

        input {
            display: block;
            width: 100%;
            margin-bottom: .5rem;
            padding: 0.5rem;
            font-family: poppins;
            outline: none;
            font-size: 1rem;
            border: 1px solid rgb(158, 158, 158);
        }

        label {
            font-family: poppins;
        }

        input[type=submit] {
            margin-top: 1rem;
            background-color: rgb(79, 79, 232);
            outline: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: rgb(110, 110, 239);
        }

        .link {
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            font-family: poppins;
            font-size: .8rem;
        }

        @media screen and (max-width:600px) {
            form {
                width: 100vw;
                height: 100vh;
                padding: auto;

            background-image: url("https://blitzen.com/blog/wp-content/uploads/new-tech.jpg");
            background-size: cover;
            height: 150px;
            text-decoration: none;
             {{!-- filter: blur(10px); --}}
              background-repeat: no-repeat;
        }

        .box {
            {{!-- border: 1px solid black;
            border-radius: 2%;
            align-items: center;
            margin: 80px;
            max-width: 30%;
            height: 500px;
            background-color: white;
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_jvx7zNEg1po5CxZXhhnccyJQUgZ9YoI1gA&usqp=CAU");
            background-size:cover;
            filter: blur(1px);
            filter:blur(01px);
            -webkit-filter: blur(8px); --}}
            background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;

        }

        a {
            text-decoration: none;
            padding: 5px 40px;
            background-color: #18428f;
            border-radius: 4px;
            color: white;
            font-size: 20px;
            font-weight: bolder;
        }
        #signupButton{
            padding: 5px 40px;
            background-color: #18428f;
            border-radius: 4px;
            color: white;
            font-size: 20px;
            font-weight: bolder;
        }
        input{
            padding: 10px 20px;
        }
        @media only screen and (max-width: 600px) {
            body {
                background-image: url("https://images.unsplash.com/photo-1553702446-a39d6fbee6cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
                background-size: 900px 900px;

            }

            .register-form {
                width: 100vw;
                height: 100vh;
            }
        }
    </style>
</head>

<body>

    <div class="register-form">
        <form action="/register" method="post">
            <h2>User Registration Form</h2>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Full Name">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Email Address">

            <label for="pno">Phone Number:</label>
            <input type="text" id="pno" name="pno" placeholder="Contact Number">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Set Password">

            <input type="submit" value="Register">
            <div class="link">Already have an account?<a href="/login">Sign In</a></div>

            <h5>{{message}}</h5>
        </form>
    </div>

    <center>
        <div class="box">
        <h2>Create an Account</h2>
    {{!-- </center> --}}
    {{!-- <center> --}}
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="Name">
            <br>
            <br>
            <input type="email" name="email" placeholder="Email">
            <br>
            <br>
            <input type="text" name="pno" placeholder="Phone Number">
            <br>
            <br>
            <input type="password" name="password" placeholder="Password">
            <br>
            <br>
            <input type="submit" value="Sign me up" id="signupButton">
            <br>
            <br>
            <a href="/login">Sign In</a>
        </form>
        <h5>{{message}}</h5>
        </div>
    </center>

</body>

</html>