<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("https://images.unsplash.com/photo-1553702446-a39d6fbee6cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
            background-size: cover;
            text-decoration: none;
        }

        a {
            text-decoration: none;
        }

        @media only screen and (max-width: 600px) {
            body {
                background-image: url("https://images.unsplash.com/photo-1553702446-a39d6fbee6cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
                background-size: 900px 900px;
            }

            a {
                text-decoration: none;
            }
        }
    </style>
</head>

<body>
    <center>
        <h2>Welcome to the User Registration Page</h2>
    </center>
    <center>
        <form action="/register" method="post">
            <input type="text" name="name" placeholder="Enter Your Name">
            <br>
            <br>
            <input type="email" name="email" placeholder="Enter YourEmail">
            <br>
            <br>
            <input type="text" name="pno" placeholder="Enter Your Phone Number">
            <br>
            <br>
            <input type="password" name="password" placeholder="Enter YourPassword">
            <br>
            <br>
            <input type="submit" value="Register">
            <br>
            <br>
            <a href="/login">Sign In</a>
        </form>
        <h5>{{message}}</h5>
    </center>
</body>

</html>